{% block sw_cms_element_tcbslider_config %}
    <div class="sw-cms-el-config-tcbslider">
        {{ $tc('sw-cms.elements.tcbSlider.label') }}
        {% block sw_cms_element_tcbslider_config_tabs %}
            <sw-tabs position-identifier="sw-cms-element-config-tcbslider" class="sw-cms-el-config-tcbslider__tabs"
                     default-item="slide1"
            >
                <template slot-scope="{ active }">
                    {% block sw_cms_element_tcbslider_config_tab_slide1 %}
                        <sw-tabs-item :title="$tc('sw-cms.elements.tcbSlider.config.slides.slide1')" name="slide1"
                                      :active-tab="active">
                            {{ $tc('sw-cms.elements.tcbSlider.config.slides.slide1') }}
                        </sw-tabs-item>
                    {% endblock %}
                    {% block sw_cms_element_tcbslider_config_tab_options %}
                        <sw-tabs-item :title="$tc('sw-cms.elements.tcbSlider.config.settings.settings')"
                                      name="settings" :active-tab="active">
                            {{ $tc('sw-cms.elements.tcbSlider.config.settings.settings') }}
                        </sw-tabs-item>
                    {% endblock %}
                </template>

                <template slot="content" slot-scope="{ active }">
                    {% block sw_cms_element_tcbslider_config_slide1 %}
                        <sw-container v-if="active === 'slide1'" class="sw-cms-el-config-tcbslider__tab-slide">

                             {% block sw_cms_element_tcbslider_config_slide1_image %}
                            <sw-cms-mapping-field v-model="element.config.tcbSlide1Image" :label="$tc('sw-cms.elements.image.label')" value-types="entity" entity="media">
                                 <sw-media-upload-v2 variant="regular" :upload-tag="uploadTag" :source="previewSource" :allow-multi-select="false" :default-folder-name="defaultFolderName" @media-upload-sidebar-open="onOpenModal1" @media-upload-remove-image="onImage1Remove"/>
                                 <div slot="preview" slot-scope="{ demoMedia }" class="sw-cms-el-config-image__mapping-preview">
                                     <img v-if="demoMedia.url" :src="demoMedia.url" alt="">
                                     <sw-alert v-else class="sw-cms-el-config-image__preview-info" variant="info">
                                         {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                                     </sw-alert>
                                 </div>
                            </sw-cms-mapping-field>
                                 <sw-upload-listener :upload-tag="uploadTag" auto-upload @media-upload-finish="onImage1Upload"/>

                             {% endblock %}

                             {% block sw_cms_element_tcbslider_config_slide1_heading %}
                                <sw-text-field
                                        v-model="element.config.tcbSlide1Title.value"
                                        :label="$tc('sw-cms.elements.tcbSlider.config.slides.slideHeading') + ' 1'"
                                        :placeholder="$tc('sw-cms.elements.tcbSlider.config.slides.slideHeading') + '1'"
                                />
                             {% endblock %}
                        </sw-container>
                    {% endblock %}

                    {% block sw_cms_element_tcbslider_config_settings %}
                        <sw-container v-if="active === 'settings'" class="sw-cms-el-config-tcbslider__tab-settings">
                            <div class="sw-cms-el-config-tcbslider__settings-options">

                                {% block sw_cms_element_image_gallery_config_settings_display_mode %}
                                    <div class="sw-cms-el-config-tcbslider__setting-option">


                                    </div>
                                {% endblock %}

                                {% block sw_cms_element_tcbslider_config_settings_navigation %}
                                    <div class="sw-cms-el-config-tcbslider__setting-navigations sw-cms-el-config-tcbslider__setting-option">
                                        <div class="sw-cms-el-config-tcbslider__settings-navigation">


                                        </div>

                                        <div class="sw-cms-el-config-tcbslider__settings-navigation">


                                        </div>
                                    </div>
                                {% endblock %}

                                {% block sw_cms_element_tcbslider_config_settings_links %}
                                    <div class="sw-cms-el-config-tcbslider__settings-links sw-cms-el-config-tcbslider__setting-option">

                                    </div>
                                {% endblock %}
                            </div>
                        </sw-container>
                    {% endblock %}
                </template>
            </sw-tabs>
        {% endblock %}
        {% block sw_cms_element_image_config_media_modal %}
            <sw-media-modal-v2
                    v-if="mediaModal1IsOpen"
                    variant="regular"
                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                    :entity-context="cmsPageState.entityName"
                    :allow-multi-select="false"
                    :initial-folder-id="cmsPageState.defaultMediaFolderId"
                    @media-upload-remove-image="onImage1Remove"
                    @media-modal-selection-change="onSelectionChangesImage1"
                    @modal-close="onCloseModal1"
            />
        {% endblock %}
    </div>
{% endblock %}
