{% block sw_cms_element_tcbslider_config %}
    <div class="sw-cms-el-config-tcbslider">
        <h2>I AM HERE!</h2>
        {% block sw_cms_element_tcbslider_config_tabs %}
            <sw-tabs
                    position-identifier="sw-cms-element-config-tcbslider"
                    class="sw-cms-el-config-tcbslider__tabs"
                    default-item="slide1"
            >
                <template slot-scope="{ active }">
                    {% block sw_cms_element_tcbslider_config_tab_slide1 %}
                        <sw-tabs-item
                                :title="$tc('sw-cms.elements.tcbSlider.config.slides.slide1')"
                                name="slide1"
                                :active-tab="active"
                        >
                            {{ $tc('sw-cms.elements.tcbSlider.config.slides.slide1') }}
                        </sw-tabs-item>
                    {% endblock %}
                    {% block sw_cms_element_tcbslider_config_tab_slide2 %}
                        <sw-tabs-item
                                :title="$tc('sw-cms.elements.tcbSlider.config.slides.slide2')"
                                name="slide2"
                                :active-tab="active"
                        >
                            {{ $tc('sw-cms.elements.tcbSlider.config.slides.slide2') }}
                        </sw-tabs-item>
                    {% endblock %}
                    {% block sw_cms_element_tcbslider_config_tab_options %}
                        <sw-tabs-item
                                :title="$tc('sw-cms.elements.tcbSlider.config.settings.settings')"
                                name="settings"
                                :active-tab="active"
                        >
                            {{ $tc('sw-cms.elements.tcbSlider.config.settings.settings') }}
                        </sw-tabs-item>
                    {% endblock %}
                </template>

                <template
                        slot="content"
                        slot-scope="{ active }"
                >
                    {% block sw_cms_element_tcbslider_config_slide1 %}
                        <sw-container
                                v-if="active === 'slide1'"
                                class="sw-cms-el-config-tcbslider__tab-slide"
                        >

                             {% block sw_cms_element_tcbslider_config_slide1_image %}
                                 <sw-media-upload-v2
                                                :entity-media-items="mediaItems"
                                                :entity="entity"
                                                :upload-tag="uploadTag"
                                                :allow-multi-select="false"
                                                :default-folder-name="TheCodeBunny Advanced Slider"
                                 />
                             {% endblock %}

                             {% block sw_cms_element_tcbslider_config_slide1_heading %}
                                <sw-text-field
                                        v-model="element.config.tcbSlide1Title.value"
                                        :label="$tc('sw-cms.elements.tcbSlider.config.label.slideHeading') + ' 1'"
                                        :placeholder="$tc('sw-cms.elements.tcbSlider.config.label.slideImage') + ' 1'"
                                        @input="onChangeMinHeight"
                                />
                             {% endblock %}
                        </sw-container>
                    {% endblock %}

                    {% block sw_cms_element_tcbslider_config_slide2 %}
                        <sw-container
                                v-if="active === 'slide2'"
                                class="sw-cms-el-config-tcbslider__tab-slide"
                        >
                            {% block sw_cms_element_tcbslider_config_slide2_image %}
                                <sw-media-upload-v2
                                        :entity-media-items="mediaItems"
                                        :entity="entity"
                                        :upload-tag="uploadTag"
                                        :allow-multi-select="false"
                                        :default-folder-name="TheCodeBunny Advanced Slider"
                                />
                            {% endblock %}

                            {% block sw_cms_element_tcbslider_config_slide2_heading %}
                                <sw-text-field
                                        v-model="element.config.tcbSlide1Title.value"
                                        :label="$tc('sw-cms.elements.tcbSlider.config.label.slideHeading') + ' 1'"
                                        :placeholder="$tc('sw-cms.elements.tcbSlider.config.label.slideImage') + ' 1'"
                                        @input="onChangeMinHeight"
                                />
                            {% endblock %}
                        </sw-container>
                    {% endblock %}

                    {% block sw_cms_element_tcbslider_config_settings %}
                        <sw-container
                                v-if="active === 'settings'"
                                class="sw-cms-el-config-tcbslider__tab-settings"
                        >
                            <div class="sw-cms-el-config-tcbslider__settings-options">

                                {% block sw_cms_element_image_gallery_config_settings_display_mode %}
                                    <div class="sw-cms-el-config-tcbslider__setting-option">


                                    </div>
                                {% endblock %}

                                {% block sw_cms_element_tcbslider_config_settings_navigation %}
                                    <div class="sw-cms-el-config-tcbslider__setting-navigations sw-cms-el-config-tcbslider__setting-option">
                                        <div class="sw-cms-el-config-tcbslider__settings-navigation">


                                        </div>

                                        <div class="sw-cms-el-config-tcbslider__settings-navigation">


                                        </div>
                                    </div>
                                {% endblock %}

                                {% block sw_cms_element_tcbslider_config_settings_links %}
                                    <div class="sw-cms-el-config-tcbslider__settings-links sw-cms-el-config-tcbslider__setting-option">

                                    </div>
                                {% endblock %}
                            </div>
                        </sw-container>
                    {% endblock %}
                </template>
            </sw-tabs>
        {% endblock %}
    </div>
{% endblock %}
