{% block sw_cms_preview_tcbslider %}
    <div class="sw-cms-preview-tcbslider">
        <div>
            <h2>
                TheCodeBunny Advanced Slider
            </h2>
        </div>
    </div>
{% endblock %}