{% block sw_cms_block_tcb_initital_image %}
    <div class="sw-cms-block-tcb-initial-image">
        <slot name="left">{% block sw_cms_block_tcb_initial_image_slot_left %}{% endblock %}</slot>
        <slot name="right">{% block sw_cms_block_tcb_initial_image_slot_right %}{% endblock %}</slot>
    </div>
{% endblock %}